#mapcontainer {
	width: 80%;
	float: left;
	margin: 0px;
	padding: 0px;
}

#map {
    width: 100%;
    }
    
#legend {
	width: 20%;
    height: 100%;
	float: right;
}

#swipe {
	width: 100%;
}
  
#legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }

/*popup box*/	
.popup {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 100px 30% auto 30%;
	background: #aaaaaa;
	border-radius: 5px;
	clear: both;
	padding:15px;
	
	
}

/*to show popup box*/		
.popup:target{visibility:visible}
	
li {list-style: none}

.visible {
	background-image: url('../images/Eye-Visible-icon.png');
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
    }
	
.invisible {
	background-image: url('../images/Eye-Blind-icon.png');
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	}
	
.plus {
	background-image: url('../images/plus-icon.png');
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
    }

.FAQ{
	width:15px;}
	
.margin {
   margin-right: 10px;
   }
   
 /*Photo popup*/
.ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
	  
.popup-photo {
	max-width:80%;
	max-height:80%;
	  } 
	  
@media only screen 
    and (max-width: 768px)
 {
    #mapcontainer {
	width: 100%;
	
    }
     #legend {
	width: 100%;
    }
}
